.card {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
  background-color: white;
  color: rgb(23, 136, 13);
}

body {
  background-color: lightblue;
  margin: 0;
}

h1 {
  color: magenta;
}

h2 {
  color: magenta;
}